---
layout: pages
---
<section class="blog-details">
  <div class="container">
    <div class="row">
      <div class="col-primary col-md-12">
        <article class="post">
          <header class="post-header">
            <h3>{{ page.title }}</h3>
            <div class="blog-meta">
              <div class="author">{{ page.keywords }}</div>
              <div class="time">{{ post.date | date:"%d %b %Y" }}</div>
            </div>
          </header>
          {{ content }}
        </article>
      </div>
    </div>
  </div>
</section>