<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.full_title %}{{ page.full_title }}{% else %}{% if page.title %}{{ page.title }}-{% endif %}{{ site.title }}{% endif %}</title>
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <meta name="applicable-device" content="pc,mobile">
    <link rel="apple-touch-icon" href="{{ site.url }}/images/assets/lareina-icon.jpg">
    <meta name="apple-mobile-web-app-title" content="Lareina">
    <link type="text/css" rel="stylesheet" href="/assets/application.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <header id="top" class="header-home">
      <div class="brand-panel">
        <a href="{{ site.url }}" class="brand js-target-scroll">
          <span class="text-primary">L</span>areina
        </a>
        <div class="brand-name">Lareina</div>
        <div class="slide-number">
          <span class="current-number text-primary">0<span class="count">1</span></span>
          <sup><span class="delimiter">/</span> 0<span class="total-count"></span></sup>
        </div>
      </div>
      <div class="header-phone">+7 (212) 674-25-10</div>
      <div class="vertical-panel"></div>
      <div class="vertical-panel-content">
        <div class="vertical-panel-info">
            <div class="vertical-panel-title">Architecture buro</div>
            <div class="line"></div>
         </div>
        <ul class="social-list">
          <li><a href="" class="fa fa-instagram"></a></li>
          <li><a href="" class="fa fa-twitter"></a></li>
          <li><a href="" class="fa fa-behance"></a></li>
          <li><a href="" class="fa fa-facebook"></a></li>
         </ul>  
      </div> 

      <!-- Navigation Desctop -->

      <nav class="navbar-desctop visible-md visible-lg">
        <div class="container">
          <a href="{{ site.url }}" class="brand js-target-scroll">
            <span class="text-primary">L</span>areina
          </a>
          <ul class="navbar-desctop-menu">
            
            <li class="active">
              <a href="about.html">About us</a>
            </li>
            <li>
              <a href="projects.html">Projects</a>
              <ul>
                <li><a href="projects.html">Projects - List</a></li>
                <li>
                  <a href="project.html">Project - details</a>
                </li>
              </ul>
            </li>  
            <li>
              <a href="blog.html">Blog</a>
              <ul>
                <li><a href="blog.html">Blog - List</a></li>
                <li>
                  <a href="blog-details.html">Blog - Post</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="contacts.html">Contacts</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Navigation Mobile -->

      <nav class="navbar-mobile">
        <a href="{{ site.url }}" class="brand js-target-scroll">
          <span class="text-primary">L</span>areina
        </a>

        <!-- Navbar Collapse -->

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-mobile">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-mobile"> 
          <ul class="navbar-nav-mobile">
            <li class="active">
              <a href="about.html">About Lareina</a>
            </li>
            <li>
              <a href="#">Products <i class="fa fa-angle-down"></i></a>
              <ul>
                <li><a href="projects.html">Projects - List</a></li>
                <li><a href="project.html">Project - details</a></li>
              </ul>
            </li>  
            <li><a href="{{ site.url }}/blog/">Blog</a></li>
            <li><a href="{{ site.url }}/contact/">Contact Us</a></li>
          </ul>
        </div>
      </nav> 
    </header>
    <div class="layout">{% if page.category == 'home' %}
      <main class="main">
        <div class="arrow-left"></div>
        <div class="arrow-right"></div>
        <div class="rev_slider_wrapper">
          <div id="rev_slider" class="rev_slider fullscreenbanner">
            <ul>

            

            <li  data-transition="slotzoom-horizontal" data-slotamount="7" data-masterspeed="1000" data-fsmasterspeed="1000">

              <!-- Main image-->

              <img src="img/slider/slide1.jpg"  alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">

              <!-- Layer 1 -->

              <div class="slide-title tp-caption tp-resizeme" 
                data-x="['right','right','right','right']" data-hoffset="['-18','-18','-18','-18']" 
                data-y="['middle','middle','middle','middle']" data-voffset="['-35','-35', '-25']"
                data-fontsize="['50','45', '35']"
                data-lineheight="['80','75', '65']"
                data-width="['1100','700','550']"
                data-height="none"
                data-whitespace="normal"
                data-transform_idle="o:1;"
                data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;" 
                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                data-mask_in="x:50px;y:0px;s:inherit;e:inherit;" 
                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                data-start="500" 
                data-splitin="chars" 
                data-splitout="none" 
                data-responsive_offset="on" 
                data-elementdelay="0.05">Concert hall in new york
              </div>

              <!-- Layer 2 -->

              <div class="slide-subtitle tp-caption tp-resizeme"
                data-x="['right','right','right','right']" data-hoffset="['0']" 
                data-y="['middle','middle','middle','middle']" data-voffset="['75','105']"
                data-fontsize="['18']" 
                data-whitespace="nowrap"
                data-transform_idle="o:1;"
                data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1200;e:Power1.easeInOut;" 
                data-transform_out="opacity:0;s:1000;s:1000;" 
                data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                data-start="1500" 
                data-splitin="none" 
                data-splitout="none">Concert Hall is the architecture of a new generation, a building<br> 
                that exists not only in the dimension of space,<br> 
                but also in the dimension of time and communication. 
              </div>

              <!-- Layer 3 -->

              <div class="tp-caption"
                data-x="['right','right','right','right']" data-hoffset="['0','0','0','0']" 
                data-y="['middle','middle','middle','middle']" data-voffset="['195','215']"
                data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-transform_idle="o:1;"
                data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);"
                data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;" 
                data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                data-mask_out="x:inherit;y:inherit;" 
                data-start="1500" 
                data-splitin="none" 
                data-splitout="none" 
                data-responsive_offset="on"><a href="#about" class="btn js-target-scroll">Look more <i class="icon-next"></i></a>
              </div>
            </li>

            <!-- Slide 2 -->

            <li data-transition="slotzoom-horizontal" data-slotamount="7" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1000">

              <!-- Main image -->

              <img src="img/slider/slide2.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">

              <!-- Layer 1 -->

              <div class="slide-title tp-caption tp-resizeme" 
                data-x="['right','right','right','right']" data-hoffset="['-18','-18','-18','-18']" 
                data-y="['middle','middle','middle','middle']" data-voffset="['-35','-35', '-55']"
                data-fontsize="['50','45', '35']"
                data-lineheight="['80','75','65']"
                data-width="['1100','700','500']"
                data-height="none"
                data-whitespace="normal"
                data-transform_idle="o:1;"
                data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;" 
                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                data-mask_in="x:50px;y:0px;s:inherit;e:inherit;" 
                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                data-start="500" 
                data-splitin="chars" 
                data-splitout="none" 
                data-responsive_offset="on"
                data-elementdelay="0.05">Exhibition center in boston
              </div>


              <!-- Layer 2 -->

              <div class="slide-subtitle tp-caption tp-resizeme"
                data-x="['right','right','right','right']" data-hoffset="['0']" 
                data-y="['middle','middle','middle','middle']" data-voffset="['75','105']"
                data-fontsize="['18']" 
                data-whitespace="nowrap"
                data-transform_idle="o:1;"
                data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1200;e:Power1.easeInOut;" 
                data-transform_out="opacity:0;s:1000;s:1000;" 
                data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                data-start="1500" 
                data-splitin="none" 
                data-splitout="none">
                Modern Hotel is the architecture of a new generation, a building<br> that exists not only in the dimension of space,<br> 
                but also in the dimension of time and communication. 
              </div>

              <!-- Layer 3 -->

              <div class="tp-caption tp-resizeme"
                data-x="['right','right','right','right']" data-hoffset="['0']" 
                data-y="['middle','middle','middle','middle']" data-voffset="['195','210']"
                data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-transform_idle="o:1;"
                data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);"
                data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;" 
                data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                 data-mask_out="x:inherit;y:inherit;" 
                data-start="1500" 
                data-splitin="none" 
                data-splitout="none" 
                data-responsive_offset="on"
                style="z-index: 8;"><a href="#about" class="btn js-target-scroll">Look more <i class="icon-next"></i></a>
              </div>
            </li>

            <!-- Slide 3 -->

            <li data-transition="slotzoom-horizontal" data-slotamount="7" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1000">

              <!-- Main image-->

              <img src="img/slider/slide3.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">

              <!-- Layer 1 -->

              <div class="slide-title tp-caption tp-resizeme" 
                data-x="['right','right','right','right']" data-hoffset="['-18','-18','-18','-18']" 
                data-y="['middle','middle','middle','middle']" data-voffset="['-35','-35', '-25']"
                data-fontsize="['50','45', '35']"
                data-lineheight="['80','75', '65']"
                data-width="['1000','700','550']"
                data-height="none"
                data-whitespace="normal"
                data-transform_idle="o:1;"
                data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;" 
                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                data-mask_in="x:50px;y:0px;s:inherit;e:inherit;" 
                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                data-start="500" 
                data-splitin="chars" 
                data-splitout="none" 
                data-responsive_offset="on"
                data-elementdelay="0.05">Modern hotel in london
              </div>


              <!-- Layer 2 -->

              <div class="slide-subtitle tp-caption tp-resizeme"
                data-x="['right','right','right','right']" data-hoffset="['0']" 
                data-y="['middle','middle','middle','middle']" data-voffset="['75','105']"
                data-fontsize="['18']" 
                data-whitespace="nowrap"
                data-transform_idle="o:1;"
                data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1200;e:Power1.easeInOut;" 
                data-transform_out="opacity:0;s:1000;s:1000;" 
                data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                data-start="1500" 
                data-splitin="none" 
                data-splitout="none">Exhibition Center is the architecture of a new generation,<br>
                a building that exists not only in the dimension of space,<br> 
                but also in the dimension of time and communication.  
              </div>

              <!-- Layer 3 -->

              <div class="tp-caption tp-resizeme"
                data-x="['right','right','right','right']" data-hoffset="['0','0','0','0']" 
                data-y="['middle','middle','middle','middle']" data-voffset="['195','215']"
                data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-transform_idle="o:1;"
                data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);"
                data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;" 
                data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                data-mask_out="x:inherit;y:inherit;" 
                data-start="1500" 
                data-splitin="none" 
                data-splitout="none" 
                data-responsive_offset="on" 
                style="z-index: 8;"><a href="#about" class="btn js-target-scroll">Look more <i class="icon-next"></i></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </main>{% endif %}
      {{ content }}
    </div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/smoothscroll.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/jquery.magnific-popup.js"></script>
<script src="/js/owl.carousel.min.js"></script>

<!-- SLIDER REVOLUTION -->
<script src="/js/rev-slider/jquery.themepunch.tools.min.js"></script>
<script src="/js/rev-slider/jquery.themepunch.revolution.min.js"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS   -->
<script src="/js/rev-slider/revolution.extension.actions.min.js"></script>
<script src="/js/rev-slider/revolution.extension.carousel.min.js"></script>
<script src="/js/rev-slider/revolution.extension.kenburn.min.js"></script>
<script src="/js/rev-slider/revolution.extension.layeranimation.min.js"></script>
<script src="/js/rev-slider/revolution.extension.migration.min.js"></script>
<script src="/js/rev-slider/revolution.extension.navigation.min.js"></script>
<script src="/js/rev-slider/revolution.extension.parallax.min.js"></script>
<script src="/js/rev-slider/revolution.extension.slideanims.min.js"></script>
<script src="/js/rev-slider/revolution.extension.video.min.js"></script>
<script src="/js/interface.js"></script> 
  </body>
</html>