---
layout: pages
---
<section class="mainContentSection blogSidebar">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="thumbnail blogSinglePost">
          <div class="caption text-center">
            <h2>{{ page.title }}</h2>
            <ul class="list-inline blogInfo">
              <li><i class="fa fa-calendar"></i>{{ page.date | date:"%d %b %Y" }}</li>
              <li><i class="fa fa-tags"></i>{{ page.keywords }}</li>
            </ul>
            {{ content }}
            <a href="{{ site.url }}/news/" class="btn buttonTransparent">More News</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>