---
layout: default
---
<main class="main main-inner main-contacts bg-{{ page.category }}" data-stellar-background-ratio="0.6">
  <div class="container">
    <header class="main-header">
      <h1>{{ page.title }}</h1>
    </header>
  </div>
  <div class="page-lines">
    <div class="container">
      <div class="col-line col-xs-4">
        <div class="line"></div>
      </div>
      <div class="col-line col-xs-4">
        <div class="line"></div>
      </div>
      <div class="col-line col-xs-4">
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
  </div>
</main>
{{ content }}