---
layout: default
---
<section class="blog-details">
  <div class="container">
    <div class="row">
      <div class="col-primary col-md-12">
        <article class="post">
          {{ content }}
          <div class="blog-tags">
            <a>{{ page.date | date:"%d %b %Y" }}</a>
            <a>{{ page.keywords }}</a>
          </div>
        </article>
        <div class="section-content text-center">
          <a href="{{ site.url }}/blog/" class="btn btn-gray">Read more</a>
        </div>
      </div>
    </div>
  </div>
</section>