---
layout: default
---
<section class="project-details">
  <div class="container">
    <div class="project-details-item">
      <div class="row">
        <div class="project-details-info wow fadeInLeft">
          <h3 class="project-details-title">{{ page.title }}</h3>
          <p class="project-details-descr">{{ page.description }}</p>
        </div>
        <div class="project-details-img col-md-8 col-md-offset-4">
          <img alt="" class="img-responsive" src="/images/products/{{ page.image }}-1.jpg">
        </div>
      </div>
    </div>
  </div>
</section>